html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(70, 73, 228);
    text-align: center;
    position: sticky;

}

.informacion  {
    margin-left: 10%;
    color: rgb(249, 250, 247);
    margin-right: 10%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20%;
    text-align: center;
    font-size: 30px;

    background-image: url(https://media.viajando.travel/p/e73d894ad7eab2f425620986f97d979f/adjuntos/236/imagenes/000/531/0000531713/1200x0/smart/disfruta-escapadas-cordoba-y-conoce-los-reartes-unos-dias-conociendo-el-pueblo-mas-antiguo-del-valle-calamuchita.png);

    background-position: 0%;
}

/*Flexbox*/
.articulo1 {
    width: 80%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}

.flex-container {
    display: flex;
    margin: 10px;
    flex-direction:row;
    flex-wrap: nowrap;
    width:50%;
    justify-content: space-between;
    

}


.flex-item {
    width: 2px;
    padding: 35%;
    margin-left: 10px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Argentina_location_map.svg/250px-Argentina_location_map.svg.png);

    background-position: 0%;

}




#excursiones {
    list-style-type: none;
}
#imagenA{
    background-color: brown;
}

/*Dispositivos pequeños

@media screen and (min-width: 0px) and (max-width:672px)
/*Dispositivos medianos
@media screen and (min-width: 673px) and (max-width:990px)
/*Dispositivos grandes
@media screen and (min-width: 0px) and (max-width:672px)*/